<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th colspan="2" class="text-center">
                            Archaic Tomes
                            <select class="form-control" [(ngModel)]="allArchaic" (change)="setArchaicTomes(allArchaic)">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </th>
                        <th colspan="4" class="text-center">
                            Sutra Scrolls
                            <select class="form-control" [(ngModel)]="allSuntra" (change)="setSuntraScrolls(allSuntra)">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </th>
                    </tr>
                    <tr>
                        <th>Force</th>
                        <th>HP</th>
                        <th>Mind</th>
                        <th>Vision</th>
                        <th>Heart</th>
                        <th>Root</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select class="form-control" [(ngModel)]="force">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="spirit">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="mind">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="vision">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="heart">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="root">
                                <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-6">
            <fieldset>

                <div class="form-group">
                    <label for="exampleInputEmail1">What rank you want to be</label>
                    <select class="form-control" [(ngModel)]="wantTo">
                        <option *ngFor="let item of levels" value="{{item}}">Rank {{item}}</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary" (click)="calculate()">Calculate</button>
            </fieldset>
        </div>
        <div class="col-sm-6">
            <table class="table table-bordered table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Archaic Tomes</td>
                        <td>{{tomesNeeded}} (left {{remainingTomesDays}} days)</td>
                    </tr>
                    <tr>
                        <td>Sutra Scrolls</td>
                        <td>{{scrollsNeeded}} (left {{remainingScrollsDays}} days)</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12">
            <div class="alert alert-info" role="alert">
                You get 15 Suntra Scrolls in activity chests, so each day you can get 15 Suntra Scrolls
                <hr>
                You get 8 Archaic Tomes in Victory Road and 12 in Groud Raid/Swamp, those events generally occurs in
                same week, so you can get 20 Tomes each week(7 days)
            </div>
        </div>
    </div>
</div>